name: Build - Linux GCC

permissions:
    contents: read

on:
    workflow_call:

    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        timeout-minutes: 30

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Configure CMake
              run: cmake --preset=linux-gcc

            - name: Build Debug
              run: cmake --build --preset=linux-gcc-debug

            - name: Build Release
              run: cmake --build --preset=linux-gcc-release
