name: Build - Windows MSVC

permissions:
    contents: read

on:
    workflow_call:

    workflow_dispatch:

jobs:
    build:
        runs-on: windows-latest
        timeout-minutes: 30

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup MSVC environment
              uses: ilammy/msvc-dev-cmd@v1

            - name: Configure CMake
              run: cmake --preset=windows-msvc

            - name: Build Debug
              run: cmake --build --preset=windows-msvc-debug

            - name: Build Release
              run: cmake --build --preset=windows-msvc-release
