name: Build - macOS Clang

permissions:
    contents: read

on:
    workflow_call:

    workflow_dispatch:

jobs:
    build:
        runs-on: macos-latest
        timeout-minutes: 30

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Configure CMake
              run: cmake --preset=macos-clang

            - name: Build Debug
              run: cmake --build --preset=macos-clang-debug

            - name: Build Release
              run: cmake --build --preset=macos-clang-release
