name: Build - Windows MinGW

permissions:
    contents: read

on:
    workflow_call:

    workflow_dispatch:

jobs:
    build:
        runs-on: windows-latest
        timeout-minutes: 30

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Configure CMake
              run: cmake --preset=windows-mingw

            - name: Build Debug
              run: cmake --build --preset=windows-mingw-debug

            - name: Build Release
              run: cmake --build --preset=windows-mingw-release
