name: CI

permissions:
    contents: read

on:
    push:
        branches: [main] # Populate cache on main after PR merges.

    pull_request:
        branches: ["**"] # Run validation on any PR.

    workflow_dispatch: # Manual trigger option.

env:
    VULKAN_SDK_VERSION: "1.4.335.0"

jobs:
    build:
        timeout-minutes: 30

        strategy:
            fail-fast: false # Don't cancel other jobs if one fails.

            max-parallel: 20 # Use maximum possible parallelisation.

            matrix:
                include:
                    - preset: windows-msvc
                      os: windows-latest
                      msvc-setup-needed: true
                    - preset: linux-gcc
                      os: ubuntu-latest
                    - preset: linux-clang
                      os: ubuntu-latest
                    - preset: macos-clang
                      os: macos-latest
                    - preset: windows-clang-cl
                      os: windows-latest
                    - preset: windows-mingw
                      os: windows-latest

        runs-on: ${{ matrix.os }}

        steps:
            - name: Checkout Github repository
              uses: actions/checkout@v6

            - name: Setup Vulkan SDK (Windows)
              if: runner.os == 'Windows'
              uses: ./.github/actions/setup-vulkan-windows
              with:
                version: ${{ env.VULKAN_SDK_VERSION }}

            - name: Setup Vulkan SDK (Linux)
              if: runner.os == 'Linux'
              uses: ./.github/actions/setup-vulkan-linux
              with:
                version: ${{ env.VULKAN_SDK_VERSION }}

            - name: Setup Vulkan SDK (macOS)
              if: runner.os == 'macOS'
              uses: ./.github/actions/setup-vulkan-macos
              with:
                version: ${{ env.VULKAN_SDK_VERSION }}

            - name: Setup MSVC environment
              if: matrix.msvc-setup-needed
              uses: ilammy/msvc-dev-cmd@v1

            - name: Run CMake workflow
              run: cmake --workflow --preset=${{ matrix.preset }}

    build_summary:
        needs: build

        runs-on: ubuntu-latest

        if: always() # Run even if some matrix jobs failed.

        steps:
            - name: Check if all jobs succeeded
              run: |
                  if [[ "${{ needs.build.result }}" != "success" ]]; then
                      echo "One or more jobs failed"
                      exit 1
                  fi
                  echo "All jobs completed successfully"
