name: CI - PR Validation
permissions:
    contents: read

on:
    pull_request:
        branches: ["**"] # Run PR validation on any branch.

    workflow_dispatch: # Manual trigger option.

jobs:
    verify_pr:
        timeout-minutes: 30

        strategy:
            fail-fast: false # Don't cancel other jobs if one fails.

            max-parallel: 20 # Use maximum possible parallelisation.

            matrix:
                include:
                    - preset: windows-msvc
                      os: windows-latest
                    - preset: linux-gcc
                      os: ubuntu-latest
                    - preset: linux-clang
                      os: ubuntu-latest
                    - preset: macos-clang
                      os: macos-latest
                    - preset: windows-clang-cl
                      os: windows-latest
                    - preset: windows-mingw
                      os: windows-latest

        runs-on: ${{ matrix.os }}

        steps:
            - name: Checkout Github repository
              uses: actions/checkout@v6

            - name: Setup MSVC environment
              if: matrix.preset == 'windows-msvc' || matrix.preset == 'windows-clang-cl'
              uses: ilammy/msvc-dev-cmd@v1

            - name: Configure CMake
              run: cmake --preset=${{ matrix.preset }}

            - name: Build Debug
              run: cmake --build --preset=${{ matrix.preset }}-debug

            - name: Build Release
              run: cmake --build --preset=${{ matrix.preset }}-release

    pr_verification_summary:
        needs: verify_pr

        runs-on: ubuntu-latest

        if: always() # Run even if some matrix jobs failed.

        steps:
            - name: Check if all jobs succeeded
              run: |
                  if [[ "${{ needs.verify_pr.result }}" != "success" ]]; then
                    echo "One or more jobs failed"
                    exit 1
                  fi
                  echo "All jobs completed successfully"
